@using GodelMastery.FleaMarket.Web.Helpers
@using PagedList.Mvc;
@model  GodelMastery.FleaMarket.Web.ViewModels.MonitoringPageViewModel
@{
    ViewBag.Title = "MonitoringPage";
    Layout = "~/Views/Shared/_LayoutWithoutFooter.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
<link href="~/Content/Lot/MonitoringPage.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h1>
            <span>
                <strong>@Model.FilterViewModel.Content</strong>
            </span>
            @Html.ActionLink("Update lot", "UpdateLots", "Lot", new { filterId = Model.FilterViewModel.Id}, new { @class = "btn btn-primary pull-right" })
        </h1>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                @foreach (var filter in Model.LotViewModels)
                {
                <div class="media">
                    <div class="media-left">
                        <a href=@filter.Link>
                            <img src=@filter.Image class="img-rounded media-image">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong>
                                <a href=@filter.Link>@filter.Name</a>
                            </strong>
                            <div class="pull-right">
                                <h3><strong>@Html.Price(filter.Price)</strong></h3>
                            </div>
                        </h4>
                        <p>
                            <h5>@filter.DateOfUpdate.ToString("F")</h5>
                        </p>
                        <p>
                            <h5>@filter.Location</h5>
                        </p>
                    </div>
                </div>
                <hr>
                }
            </div>
        </div>
    </div>
    @Html.PagedListPager(Model.LotViewModels, page => Url.Action("MonitoringPage", new { filterId = Model.FilterViewModel.Id, page }))
</div>
